<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Filme</a>
      <a mat-list-item href="#">Musik</a>
      <a mat-list-item href="#">Orte</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Für unsere Jungs</span>
    </mat-toolbar>
    <!-- <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">Click me!</button> -->

  <mat-divider vertical="true"></mat-divider>
  <app-filter-row></app-filter-row>
  <mat-card class="contentCard">
    <mat-card-header> Menschen</mat-card-header>
    <mat-card-content>
      <img style="width: 200px;" src="./assets/hands.png">
      <p>Die solltet Ihr mal treffen</p>
    </mat-card-content>
    <mat-card-actions>
     <button mat-raised-button matBadge="88" matBadgeColor="primary">Los</button>
    </mat-card-actions>
  </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #menu>
  <div>bla________</div>
  <div mat-raised-button class="example-menu" cdkMenu>
    <button mat-raised-button cdkMenuItem>Refresh</button>
    <button mat-raised-button cdkMenuItem>Settings</button>
    <button mat-raised-button cdkMenuItem>Help</button>
    <button mat-raised-button cdkMenuItem>Sign out</button>
  </div>
</ng-template>
